body {
    background: palegreen;
}

#prologue {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:ital

}

   








#prologue {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}